<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expenses tracker web application </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log Out"/>
    </form>
    <a href="/users">User list</a><br>
    <a href="/expenses/new">Enter a new expense</a><br>
    <h3>List of expenses</h3>
    <form method="get">
        <input type="text" name="filter" th:value="${filter}">
        <input type="date" name="dateFrom" th:value="${dateFrom}">
        <input type="date" name="dateTo" th:value="${dateTo}">
        <button type="submit">Find</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Comment</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.id}"></td>
                <td th:text="${expense.date}"></td>
                <td th:text="${expense.time}"></td>
                <td th:text="${expense.text}"></td>
                <td th:text="${expense.cost}"></td>
                <td th:text="${expense.comment}"></td>
                <td th:text="${expense.authorName}"></td>
                <td><a th:href="@{'/expenses/' + ${expense.id}}">edit</a></td>
            </tr>
        </tbody>
    </table>
    <p th:text="'Total expenses = ' + ${totalExpenses} "></p>
    <p th:text="'Average expenses per day = ' + ${averageExpenses} "></p>
</body>
</html>