<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expenses tracker web application </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out"/>
</form>
<p th:text="'Hello, ' + ${user.username} + '!'"></p>
<p><a href="/expenses" th:if="not ${user.isManagerOnly()}" >Expenses</a></p>
<p><a href="/users" th:if="${user.isAdmin()} or ${user.isManager()}" >Users</a></p>
</body>
</html>