<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expenses tracker web application </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>User Editor</h3>
<form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>User Id:</td>
            <td><input type="hidden" th:value="*{id}" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>User Name:</td>
            <td><input type="text" th:field="*{username}" /></td>
        </tr>
        <tr>
            <td>User Roles:</td>
            <td><ul>
                <li th:each="role : ${allRoles}">
                    <input type="checkbox" th:field="*{roles}" th:value="${role}" />
                    <label th:for="${#ids.prev('roles')}"
                        th:text="${#conversions.convert(role,'String')}"></label>
                </li>
            </ul></td>
        </tr>
        <tr>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>
</form>
</body>
</html>