<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expenses tracker web application </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>User Adding</h3>
<div th:if="${usernameError}" th:text="*{usernameError}">
</div>
<form action="#" th:action="@{/users/new}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><input type="hidden" th:value="*{id}" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>User Name:</td>
            <td><input type="text" th:value="*{username}" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>User Roles:</td>
            <td><ul>
                <li th:each="role : ${allRoles}">
                    <input type="checkbox" th:field="*{roles}" th:value="${role}" />
                    <label th:for="${#ids.prev('roles')}"
                        th:text="${#conversions.convert(role,'String')}"></label>
                </li>
            </ul></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:value="*{password}" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>User Active:</td>
            <td><input type="checkbox" th:field="*{active}" th:checked="${active}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Add</button></td>
        </tr>
    </table>
</form>
</body>
</html>