<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expenses tracker web application </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log Out"/>
</form>
<h3>List of users</h3>
<a href="/users/new">Add new user</a>
<form method="get">
    <input type="text" name="filterUsr" th:value="${filterUsr}">
    <button type="submit">Find</button>
</form>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:each="r : ${user.roles}" th:text="${r}"></td>
        <td th:text="${user.active}"></td>
        <td><a th:href="@{'/users/' + ${user.id}}">edit</a></td>
        <td><a th:href="@{'/user-expenses/' + ${user.id}}"
               th:if="${curUserIsAdmin} and not ${user.isManagerOnly()}">expenses</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>